services:
  db:
    container_name: db
    build: ./db
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=moralreport_db
    volumes:
      - db:/var/lib/postgresql/data

volumes:
  db:
    driver: local
